* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vh;
  margin: 0 auto;
  background-color: hsl(30, 38%, 92%);
  /* height: 700px; */
}

/* Gridbox */
.container {
  display: grid;
  grid-template-columns: 15.625rem 15.625rem;
  justify-content: center;
  align-content: center;
  height: 43.75rem;
}

@media screen and (max-with: 600px) {
  .container {
    /* width: 100%; */
    display: grid;
    grid-template-columns: 17.9rem;
    grid-template-rows: 1fr;
    align-content: center;
    justify-content: center;
  }
}

/* image container */
.box1 {
  background-image: url(image-product-desktop.jpg);
  padding-top: 126px;
  padding-bottom: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.box2 {
  background-color: hsl(0, 0%, 100%);
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.prices {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 2rem;
}

/* Element styles */

.product-name,
.sub-discription {
  font-family: "Montserrat", serif;
  color: hsl(228, 12%, 48%);
  font-size: 0.875em;
  font-weight: normal;
  margin-bottom: 0.5rem;
  margin-top: 1.2rem;
}

.sub-discription {
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.product-name {
  letter-spacing: 0.2em;
  margin-left: 1rem;
}
.product-description {
  font-family: "Fraunces", serif;
  font-size: 1.6em;
  margin-bottom: 0.5em;
  margin-left: 1rem;
  text-align: left;
}

.sale {
  color: hsl(158, 36%, 37%);
  font-size: 1.5em;
  font-family: "Fraunces", serif;
  /* margin-bottom: 0.5em; */
}
.original-price {
  font-family: "Montserrat", serif;
  color: hsl(228, 12%, 48%);
  font-size: 0.9em;
}

button {
  background-color: hsl(158, 36%, 37%);
  font-size: 0.875em;
  font-family: "Montserrat", serif;
  color: hsl(0, 0%, 100%);
  text-align: center;
  border-radius: 0.5rem;
  margin-left: 1rem;
  margin-top: 3rem;
  padding: 0.6rem 3.5rem;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    width: 25rem;
    margin: 0 auto;
    background-color: hsl(30, 38%, 92%);
  }

  /* Gridbox --  had to change to flexbox. My styles were being overwritten by my main css styles not sure why this is happening. I think it has 
  something to do with inheritence. Left the original code for reference*/

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* display: grid;
    grid-template-columns: 17.9rem;
    grid-template-rows: 1fr;
    align-content: center;
    justify-content: center; */
  }
  /* background picture */

  .box1 {
    background-image: url(image-product-mobile.jpg);
    /* background-repeat: no-repeat;
    background-size: contain;
    background-position: center; */
    /* background-size: cover; */
    /* height: 12.5rem; */
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
    margin: 0 auto;
    margin-top: 1.25rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    width: 17.9rem;
    background-color: aqua;
  }

  /* product discription container */

  .box2 {
    width: 17.9rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: 0;
    background-color: hsl(0, 0%, 100%);
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  /* flexbox */

  .prices {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
  }

  /* individual element styles */

  .product-name,
  .sub-discription {
    font-family: "Montserrat", serif;
    color: hsl(228, 12%, 48%);
    font-size: 0.875em;
    font-weight: normal;
    margin-bottom: 0.5rem;
    /* align-self: center; */
  }
  .sub-discription {
    margin-left: 1rem;
  }

  .product-name {
    letter-spacing: 0.2em;
    margin-left: 1rem;
  }
  .product-description {
    font-family: "Fraunces", serif;
    font-size: 1.4em;
    margin-bottom: 0.5em;
    margin-left: 1rem;
  }

  .sale {
    color: hsl(158, 36%, 37%);
    font-size: 1.3em;
    font-family: "Fraunces", serif;
    /* margin-bottom: 0.5em; */
  }
  .original-price {
    font-family: "Montserrat", serif;
    color: hsl(228, 12%, 48%);
    font-size: 0.6em;
  }
  button {
    background-color: hsl(158, 36%, 37%);
    font-size: 0.875em;
    font-family: "Montserrat", serif;
    color: hsl(0, 0%, 100%);
    text-align: center;
    border-radius: 0.5rem;
    margin-left: 2rem;
    margin-top: 1rem;
    padding: 0.5rem 3.5rem;
  }
}
